html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url('https://st2.depositphotos.com/2021995/7312/i/450/depositphotos_73128997-stock-photo-blog-concept-wooden-letterpress-theme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-size: 50px;
    color:white;
    background: #000;
    min-height: 100px;
    padding-top: 20px;
    margin: 0 0px 10px;
}
p{
    margin: 10px;
    text-align: justify;
}
.blog-1{
    color:white;
    background-color: rgb(165, 42, 42,0.844);
    width: 50%;
    min-width: 400px;
    min-height: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 5px solid black;
    padding: 10px;
}
.blog-2{
    background-color:rgba(2, 6, 6, 0.844);
    width: 50%;
    margin: 0 auto;
    min-width: 400px;
    min-height: 400px;
    margin-bottom: 10px;
    color:wheat;
    border: 5px solid black;
    padding: 10px;
}
.blog-3{
    background-color:rgb(210, 105, 30,0.844);
    width: 50%;
    margin: 0 auto;
    min-width: 400px;
    min-height: 400px;
    margin-bottom: 10px;
    border: 5px solid black;
    padding: 10px;
}
.blog-4{
    background-color:rgb(220, 20, 60,0.844);
    width: 50%;
    margin: 0 auto;
    min-width: 400px;
    min-height: 400px;
    margin-bottom: 10px;
    border: 5px solid black;
    padding: 10px;
}
h3{
    color:gold;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px 0 10px;
}
.list-1,.list-2,.list-3,.list-4{
    background-color: seagreen;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    
}
ul li{
    list-style-type: none;
    padding: 2px; 
}
a{
    text-decoration: none;
    color: black;
}
button{
    margin-left:10px;
    outline: none;
    padding: 10px 5px;
    font-size: 12px;
    background-color: rgb(163, 204, 255);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
  }
  .cards img {
    margin: 10px;
    padding: 5px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 300px;
  }

  img:hover{
    transform: scale(1.1);
  }

footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top:50px;
}